<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-herokux-index") %>>
            <a href="/docs/providers/herokux/index.html">Herokux Provider</a>
        </li>

        <li<%= sidebar_current("docs-herokux-datasource") %>>
        <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-herokux-datasource-postgres-mtls-certificate") %>>
                  <a href="/docs/providers/herokux/d/postgres_mtls_certificate.html">herokux_postgres_mtls_certificate</a>
                </li>
            </ul>

        <li<%= sidebar_current("docs-herokux-resource") %>>
        <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-herokux-resource-data-connector") %>>
                  <a href="/docs/providers/herokux/r/data_connector.html">herokux_data_connector</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-formation-autoscaling") %>>
                  <a href="/docs/providers/herokux/r/formation_autoscaling.html">herokux_formation_autoscaling</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-kafka-consumer-group") %>>
                  <a href="/docs/providers/herokux/r/kafka_consumer_group.html">herokux_kafka_consumer_group</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-kafka-topic") %>>
                  <a href="/docs/providers/herokux/r/kafka_topic.html">herokux_kafka_topic</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-oauth-authorization") %>>
                  <a href="/docs/providers/herokux/r/oauth_authorization.html">herokux_oauth_authorization</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-postgres-credential") %>>
                  <a href="/docs/providers/herokux/r/postgres_credential.html">herokux_postgres_credential</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-postgres-maintenance_window") %>>
                  <a href="/docs/providers/herokux/r/postgres_maintenance_window.html">herokux_postgres_maintenance_window</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-postgres-mtls") %>>
                  <a href="/docs/providers/herokux/r/postgres_mtls.html">herokux_postgres_mtls</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-postgres-mtls-certificate") %>>
                  <a href="/docs/providers/herokux/r/postgres_mtls_certificate.html">herokux_postgres_mtls_certificate</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-postgres-mtls-iprule") %>>
                  <a href="/docs/providers/herokux/r/postgres_mtls_iprule.html">herokux_postgres_mtls_iprule</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-postgres-settings") %>>
                  <a href="/docs/providers/herokux/r/postgres_settings.html">herokux_postgres_settings</a>
                </li>

                <li<%= sidebar_current("docs-herokux-resource-privatelink") %>>
                  <a href="/docs/providers/herokux/r/privatelink.html">herokux_privatelink</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
